
<script>
    function confirmDelete(e) {
        if(!confirm("Reset the counter to 0?")) {
            e.preventDefault();
        }
    }
</script>

<div>
    <form action="/count" method="post" name="counterForm" >
        <div class="counter" >
            {{counter}}
        </div>    
        <input type="submit" name="action" value="Press button to count">
        <input type="submit" name="action" value="Reset the counter" onclick="confirmDelete(event)"  >

    </form>

</div>